🏎 {{utils.countryNameToEmoji(`${templateData.race.meetingCountryName}`)}} <b>{{templateData.race.meetingOfficialName.toUpperCase()}}</b> {{utils.countryNameToEmoji(`${templateData.race.meetingCountryName}`)}} 🏎

<b>🇺🇸 {{templateData.description.toUpperCase()}} STARTS IN {{Math.floor(templateData.msToGo / 60000)}} MINUTES 🇺🇸</b>
<b>🇪🇸 {{translate('es-ES', templateData.description).toUpperCase()}} EMPIEZA EN {{Math.floor(templateData.msToGo / 60000)}} MINUTOS 🇪🇸</b>