🏎 {{utils.countryNameToEmoji(`${templateData.race.meetingCountryName}`)}} <b>{{templateData.race.meetingOfficialName.toUpperCase()}}</b> {{utils.countryNameToEmoji(`${templateData.race.meetingCountryName}`)}} 🏎

<b>🇺🇸 {{templateData.description.toUpperCase()}} - SCHEDULE 🇺🇸</b>
<b>🇪🇸 {{translate('es-ES', templateData.description).toUpperCase()}} - HORARIO 🇪🇸</b>

<b>ℹ️ INFO ℹ️</b>

<b>- North America -</b>
<b>🇨🇦 Vancouver:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-CA', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Vancouver' })}}
<b>🇨🇦 Montreal:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-CA', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Montreal' })}}
<b>🇺🇸 Austin:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Chicago' })}}
<b>🇺🇸 Los Angeles:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Los_Angeles' })}}
<b>🇲🇽 Mexico City:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-MX', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Mexico_City' })}}

<b>- South America -</b>
<b>🇨🇱 Santiago:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-CL', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Santiago' })}}
<b>🇵🇪 Lima:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-PE', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Lima' })}}
<b>🇻🇪 Caracas:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-VE', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Caracas' })}}
<b>🇧🇴 La Paz:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-BO', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/La_Paz' })}}
<b>🇦🇷 Argentina:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-AR', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Argentina/Buenos_Aires' })}}
<b>🇧🇷 São Paulo:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('pt-BR', { dateStyle: 'short', timeStyle: 'short', timeZone: 'America/Sao_Paulo' })}}

<b>- Europe -</b>
<b>🇸🇪 Stockholm:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('sv-SE', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Stockholm' })}}
<b>🇫🇮 Helsinki:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('fi-FI', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Helsinki' })}}
<b>🇲🇨 Monaco:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('fr-MC', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Monaco' })}}
<b>🇷🇺 Moscow:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('ru-RU', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Moscow' })}}
<b>🇬🇧 London:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-EN', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/London' })}}
<b>🇮🇹 Italy:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('it-IT', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Rome' })}}
<b>🇫🇷 France:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('fr-FR', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Paris' })}}
<b>🇪🇸 Spain:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('es-ES', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Europe/Madrid' })}}

<b>- Africa -</b>
<b>🇳🇬 Lagos:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-ZA', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Africa/Lagos' })}}
<b>🇿🇦 Johannesburg:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-ZA', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Africa/Johannesburg' })}}
<b>🇸🇳 Dakar:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('fr-SN', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Africa/Dakar' })}}
<b>🇰🇪 Nairobi:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('sw-KE', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Africa/Nairobi' })}}

<b>- Asia -</b>
<b>🇧🇭 Sakhir:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('ar-BH', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Bahrain' })}}
<b>🇦🇪 Yas Marina:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('ar-AE', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Dubai' })}}
<b>🇮🇳 New Delhi:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('as-IN', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Kolkata' })}}
<b>🇨🇳 Shanghai:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('zh-CN', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Shanghai' })}}
<b>🇰🇷 Seoul:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('ko-KR', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Seoul' })}}
<b>🇯🇵 Tokyo:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('jp-JP', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Tokyo' })}}
<b>🇲🇾 Kuala Lumpur:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('ms-MY', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Kuala_Lumpur' })}}
<b>🇸🇬 Singapore:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('zh-SG', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Singapore' })}}
<b>🇮🇩 Jakarta:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('id-IDd', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Asia/Jakarta' })}}

<b>- Australia -</b>
<b>🇦🇺 Perth:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-AU', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Australia/Perth' })}}
<b>🇦🇺 Melbourne:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-AU', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Australia/Melbourne' })}}
<b>🇳🇿 Wellington:</b> {{new Date(`${templateData.startTime}${templateData.gmtOffset}`).toLocaleString('en-AU', { dateStyle: 'short', timeStyle: 'short', timeZone: 'Pacific/Auckland' })}}