🏎 <b>{{sessionResults.free.data.R}}</b> 🏎

<b>🇺🇸 {{sessionResults.free.data.S.toUpperCase()}} RESULTS 🇺🇸</b>
<b>🇪🇸 RESULTADOS DE {{translate('es-ES', sessionResults.free.data.S).toUpperCase()}} 🇪🇸</b>

ℹ️⬇️⬇️⬇️⬇️⬇️⬇️ℹ️