🏎 {{utils.countryNameToEmoji(`${templateData.countryName}`)}} <b>{{templateData.free.data.R}}</b> {{utils.countryNameToEmoji(`${templateData.countryName}`)}} 🏎

<b>🇺🇸 {{templateData.free.data.S.toUpperCase()}} RESULTS 🇺🇸</b>
<b>🇪🇸 RESULTADOS DE {{translate('es-ES', templateData.free.data.S).toUpperCase()}} 🇪🇸</b>

ℹ️⬇️⬇️⬇️⬇️⬇️⬇️ℹ️