🏎 <b>{{sessionInfo.race.meetingOfficialName.toUpperCase()}}</b> 🏎

<b>🇺🇸 {{sessionInfo.description.toUpperCase()}} STARTS IN {{Math.floor(sessionInfo.msToGo / 60000)}} MINUTES 🇺🇸</b>
<b>🇪🇸 {{translate('es-ES', sessionInfo.description).toUpperCase()}} EMPIEZA EN {{Math.floor(sessionInfo.msToGo / 60000)}} MINUTOS 🇪🇸</b>


<b>ℹ️ INFO ℹ️</b>

<b>🇺🇸 English / Inglés 🇺🇸:</b>

<b>- Weather Report -</b>
{{weather.getEmojiForWeatherCode(sessionInfo.WeatherReport.en.weather[0].id)}} <b>There's {{sessionInfo.WeatherReport.en.weather[0].description}}</b>
<b>🌡 Temperature:</b> {{sessionInfo.WeatherReport.en.main.temp}} °F
<b>🌬 Wind:</b> {{sessionInfo.WeatherReport.en.wind.speed}} mph
<b>💧 Humidity:</b> {{sessionInfo.WeatherReport.en.main.humidity}}%


<b>🇪🇸 Español / Spanish 🇪🇸:</b>

<b>- Clima actual -</b>
{{weather.getEmojiForWeatherCode(sessionInfo.WeatherReport.es.weather[0].id)}} <b>Hay {{sessionInfo.WeatherReport.es.weather[0].description}}</b>
<b>🌡 Temperatura:</b> {{sessionInfo.WeatherReport.es.main.temp}} ℃
<b>🌬 Viento:</b> {{sessionInfo.WeatherReport.es.wind.speed}} m/s
<b>💧 Humedad:</b> {{sessionInfo.WeatherReport.es.main.humidity}}%