🏎 {{utils.countryNameToEmoji(`${templateData.race.meetingCountryName}`)}} <b>{{templateData.race.meetingOfficialName.toUpperCase()}}</b> {{utils.countryNameToEmoji(`${templateData.race.meetingCountryName}`)}} 🏎

<b>🇺🇸 {{templateData.description.toUpperCase()}} STARTS IN {{Math.floor(templateData.msToGo / 60000)}} MINUTES 🇺🇸</b>
<b>🇪🇸 {{translate('es-ES', templateData.description).toUpperCase()}} EMPIEZA EN {{Math.floor(templateData.msToGo / 60000)}} MINUTOS 🇪🇸</b>


<b>ℹ️ INFO ℹ️</b>

<b>🇺🇸 English / Inglés 🇺🇸:</b>

<b>- Weather Report -</b>
{{weather.getEmojiForWeatherCode(templateData.WeatherReport.en.weather[0].id)}} <b>There's {{templateData.WeatherReport.en.weather[0].description}}</b>
<b>🌡 Temperature:</b> {{templateData.WeatherReport.en.main.temp}} °F
<b>🌬 Wind:</b> {{templateData.WeatherReport.en.wind.speed}} mph
<b>💧 Humidity:</b> {{templateData.WeatherReport.en.main.humidity}}%


<b>🇪🇸 Español / Spanish 🇪🇸:</b>

<b>- Clima actual -</b>
{{weather.getEmojiForWeatherCode(templateData.WeatherReport.es.weather[0].id)}} <b>Hay {{templateData.WeatherReport.es.weather[0].description}}</b>
<b>🌡 Temperatura:</b> {{templateData.WeatherReport.es.main.temp}} ℃
<b>🌬 Viento:</b> {{templateData.WeatherReport.es.wind.speed}} m/s
<b>💧 Humedad:</b> {{templateData.WeatherReport.es.main.humidity}}%