<b>🏎 ℹ️ INFO ℹ️ 🏎</b>

🇺🇸 <b>CURRENT STANDINGS - SEASON {{templateData.season}}, ROUND {{templateData.round}}</b> 🇺🇸
🇪🇸 <b>CLASIFICACIÓN ACTUAL - TEMPORADA {{templateData.season}}, RONDA {{templateData.round}}</b> 🇪🇸

ℹ️⬇️⬇️⬇️⬇️⬇️⬇️ℹ️